<div class="wrap">
	<div class="container">
		<h1>Add a new task</h1>
		<h6><em>Check you're not better off doing what's already on your to-do...</em></h6>
		<div class="container-tasks">

			<%= render 'form', task: @task %>

			
			
			<!-- <form action="/tasks" method="POST">
				<input class="form-control" type="string" name="title" placeholder="Enter task title">
				<input class="form-control" type="text" name="details" placeholder="Write some details about the task">
      	<input class="btn btn-default" type="submit" value="Add!">
			</form> -->

		</div>
	</div>
</div>